/* Main CSS */

@import 'h5bp.css';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato&display=swap');
@import 'parts-sm.css';
@import 'parts-lg.css';

body {
  font-family: 'Lato', sans-serif;
  color: #2a2d34;
}
