/* Mobile-first small-size CSS for page content parts */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: #2a2d34;
  color: #f2efe9;
  z-index: 1;
}

#site-title {
  padding: 5px;
  font-size: 27px;
  font-family: 'Great Vibes', cursive;
  color: #f2efe9;
  text-decoration: none;
}

#hamburger {
  position: absolute;
  right: 0;
  fill: #f2efe9;
}

#hamburger:hover,
#hamburger:focus {
  fill: #ffffff;
}

nav {
  position: fixed;
  top: 40px;
  width: 100%;
  background-color: #3a3d44;
  color: #f2efe9;
  z-index: 1;
}

.navlist {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 2px;
  margin: 0px;
}

.navlist.responsive {
  display: flex;
}

.navlist li {
  flex: 1 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  height: 27px;
}

.navlist a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.content {
  position: absolute;
  top: 40px;
  width: 100%;
}

main {
  background-color: white;
  color: #2a2d34;
  z-index: 0;
}

/* Used for lists of both albums and album media */
.content .card-deck {
  padding: 0 5px 5px 5px;
  margin-right: 0;
  background-color: #f2efe9;
}

.content .card {
  position: relative;
  min-width: 256px;
  max-width: 256px;
  margin-top: 15px;
  margin-right: 0;
  background-color: white;
  border: 2px solid #2a2d34;
}

.empty-cover {
  display: flex;
  height: 144px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #3a3d44;
  color: #f2efe9;
}

.album-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  border: none;
  border-left: 2px solid #2a2d34;
  border-bottom: 2px solid #2a2d34;
  background-color: #cc1c24;
  color: white;
  font-size: 0.75rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: #2a2d34;
  color: #f2efe9;
}
